h1{
    text-align: center;
    font-size: 50px;
    color: white;
  }
  ul li {
    display: inline;
    padding-left: 100px;
     margin: 10px 10px;
     color: rgb(209, 199, 218);
  }
  header {
    background-color: gray;
   height: 200px;
   font-family: Arial, Helvetica, sans-serif;
  }
  main {
    background-color: rgb(91, 175, 90);
    padding: 200px;
  }
  article {
  padding-left: 50px;
  }
  footer {
    background-color: burlywood;
    text-align: center;
  }
  #p1{
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(209, 199, 218);
    margin: 5px 5px;
  }
  img {
    width: 300px;
    height: 300px;
    float: left;
  }